body{
    padding: 0;
    margin: 0;
}


header{
    background-image: url(banner.png), linear-gradient(#000000, rgba(0, 33, 46, 0.979), rgb(0, 0, 0));
    background-size: cover ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    text-align: center;
    object-fit: center;
    
}

.logo{
  padding: 10px;
 

}

.logo img{
    display: block;
    margin: 0 auto;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.164));
    border-radius: 50%;

}


.banner-content h1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
text-transform: uppercase;
background: linear-gradient(rgb(0, 217, 255), rgba(35, 46, 146, 0.623));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 900;
}

.banner-content p{
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 10px;
  max-width: 450px;
 
}

.banner-content button{
background: transparent;
color: #09c6ff;
border: transparent;
border: solid 1px;
width: 60%;
height: 60px;
font-size: 1.2em;
background: linear-gradient( rgb(3, 1, 136), aqua);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border:linear;
text-transform: uppercase;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
margin-top: 10px;
}
.banner{
padding-bottom: 70px;

}

#course-content{
 background-color:#000000;
 padding-top: 30px;
 border-top:solid rgb(9, 185, 255) 1px;
 align-items: center;
 background-position: center;
 
}

#course-content h2{
font-family: sans-serif;
text-transform: uppercase;
word-spacing:5px;
letter-spacing: 5px;
background:linear-gradient( rgba(31, 189, 236, 0.623), rgb(0, 217, 255));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
text-align: center;
font-size: 30px;
}


#course-content p{
  color: white;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 770px;
  margin: auto;
  padding-bottom: 30px;
}



.modules-list .module{
 text-align: center;
 margin: auto;
 border: solid rgb(24, 130, 230) 1px;
 margin-bottom: 30px;
 background:linear-gradient(rgb(48, 48, 48), rgb(46, 42, 42));
 width: 600px;
 height: 60px;
 border-radius: 100px;
 box-shadow: inset 2px 4px 10px black;
 
}

.modules-list .module span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(rgb(0, 159, 187), rgba(2, 141, 255, 0.623));
 -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 400;
}

.modules-list .module{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 19px;
}

.modules-list{
  padding-bottom: 100px;
}



#transform-world{
  background-image: url(woman-code.png), linear-gradient(#000000, rgba(0, 33, 46, 0.979), rgb(0, 0, 0));;
  background-position: center;
  height: 550px;
  background-attachment: fixed;
  border-top: #0881f1 solid 1px;

}

#transform-world p{
  margin: 200px;
  max-width: 290px;
  text-transform:lowercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 900;
  text-shadow: 4px 3px 1px rgb(12, 181, 248);
  
}

#professional-challenges{
  background-color: black;
  border-top: solid 1px rgb(38, 119, 196);
}

#professional-challenges h2{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #12b3e4;
  text-transform: uppercase;
  word-spacing: 6px;
  letter-spacing: 6px;
  margin: auto;
  max-width: 770px;
  margin-top: 70px;
  font-size: 30px;
  font-weight: 700; 
}

#professional-challenges img{
 object-fit: center;
 display: flex;
 margin: auto;
 padding-top:30px;
}

#professional-challenges p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align:center;
  max-width: 780px;
  margin: auto;
  padding: 30px 3px 80px 3px;

}

footer{
  background: linear-gradient( black, rgb(4, 68, 94));
  border-top: solid 1px rgb(14, 115, 155);
}

footer img, p{
  align-items: center;
  justify-content: center;
  display: flex;
  object-fit: center;
  margin: auto;
}

footer img{
  padding-top: 50px;

}

footer p{
  padding-bottom: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  white-space: pre;
}

footer p a{
  text-decoration: none;
  color: #4ba8ff;
  
}